$black: #0f1218;
$dark-bg: #181c23;
$bg: #262c33;
$grey: #a7a9ac;
$white: #FFFFFF;
$green: #3fb461;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: $dark-bg;
	font-family: 'Avenir', sans-serif;
}

body {
	height: 100vh;
	overflow: hidden;
}

h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 25px 35px;
	text-align: left;
	width: auto;
	color: $white;
}

#chat-container {
	width: 100%;
	max-width: 1040px;
	//border: 1px solid $grey;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 100px;
	max-height: 80vh;
	overflow-y: scroll;
}

#human-textbox {
	font-size: 16px;
	background-color: transparent;
	border: 1px solid $grey;
	border-radius: 5px;
	color: $white;
	padding: 10px 15px;
	outline: none;
	display: inline-block;

	width: calc(100% - 140px);

	transition: border 0.5s ease;

	&:focus {
		border: 2px solid $white;
	}
}

#submit-button {
	width: 130px;
	font-size: 16px;
	background-color: transparent;
	border: 1px solid $grey;
	border-radius: 5px;
	color: $white;
	padding: 10px 15px;
	cursor: pointer;
	margin: 0 0 0 auto;
	outline: none;

	transition: border 0.5s ease;

	&:focus, &:hover {
		border: 2px solid $white;
	}
}

#bottom-section {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	width: calc(100% - 60px);
	max-width: 1040px;
}

.chat-bubble {
	font-size: 16px;
	padding: 10px 15px;
	border: 1px solid $grey;
	border-radius: 5px;
	color: $white;

	width: auto;
	max-width: 300px;
}

.human-chat-bubble {
	border-color: $white;
	margin: 0 30px 10px auto;
}

.ai-chat-bubble {
	border-color: $green;
	margin: 0 auto 10px 30px;
}